.spinner {
    height: 60px;
    width: 60px;
    margin: auto auto 50% 50%;
    top: 50%;
    display: flex;
    position: absolute;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    cursor: pointer;
}

#report_1 .timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

#report_1 .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 26px;
    margin: 0;
    border-radius: 2px;
}

#report_1 .timeline {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

#report_1 .timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 3px;
    font-size: 16px;
    line-height: 1.1;
}

#report_1 .timeline > li > .timeline-item-report {
    border-radius: 3px;
    margin-top: 0;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

#report_1 .timeline > li {
    position: relative;
    margin-right: 0px;
    margin-bottom: 0px;
}

#report_1 > tbody > tr > td > button {
    background-color: #ffffff00;
}

.popover {
    max-width: 1110px;
}
